body{
margin:0;
font-family:sans-serif;
text-align:center;
}

header{
padding:60px 20px;
background: #2f9e8f;
color:white;
}

.works {
  padding: 80px 20px;
  text-align: center;
}

.work-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.work-card {
  border: 1px solid #ddd;
  padding: 30px;
  width: 250px;
  border-radius: 10px;
}

.work-card a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  background: #2f9e8f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.work-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.work-card img{
width:100%;
border-radius:10px;
margin-bottom:10px;
}

.price {
  padding: 80px 20px;
  background: #f8fafc;
  text-align: center;
}

.price h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.price p {
  margin-bottom: 10px;
  font-size: 16px;
}

.cta {
  padding: 100px 20px;
  background: #2f9e8f;
  text-align: center;
  color: white;
}

.cta h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cta a {
  display: inline-block;
  margin-top: 20px;
  background: white;
  color: #2f9e8f;
  padding: 15px 40px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.cta a:hover {
  background: #e6fffa;
}
